<template>
  <div id="container">
    <div class="main-content">
      <header>
        <img src="src/assets/images/42Q_logo.png" alt="" />
        <div class="split"></div>
        <h1>
          <span>Multimedia</span>
          <span>Platform</span>
        </h1>
      </header>

      <form class="login-form" novalidate>
        <div class="form-group">
          <input type="text" class="username" />
        </div>
        <div class="form-group password-group">
          <input type="password" class="password" />
        </div>

        <div class="btn-container">
          <button type="submit" class="sign-in-btn">Sign In</button>
          <button type="button" class="cancel-btn">Cancel</button>
        </div>
      </form>
    </div>
  </div>

  <script>
    (function() {
      const loginForm = document.querySelector(".login-form");
      const passwordWrapper = loginForm.querySelector(".password-group");

      loginForm.addEventListener("submit", function(e) {
        e.preventDefault();
        const username = loginForm.querySelector(".username").value;
        const password = loginForm.querySelector(".password");
        axios
          .get(
            `${baseUrl}user/login?userName=${username}&password=${password.value}`
          )
          .then(res => {
            if (res.data.code === 0) {
              location.hash = "/tenant";
              location.reload();
            }
          })
          .catch(err => {
            const errorObj = !err.response ? err : err.response.data;
            generateErrorMsg(errorObj, passwordWrapper);
          });

        // handle error
        [...loginForm.querySelectorAll("input")].forEach(input => {
          input.addEventListener("focus", function() {
            const error = passwordWrapper.querySelector(".red");
            if (error) {
              passwordWrapper.classList.remove("error-account");
              passwordWrapper.removeChild(error);
            }
          });
        });
      });

      // generate error message for login
      function generateErrorMsg(data, passwordWrapper) {
        const errMsg = data.msg || data.message + ", please try again later~";
        const errorEl = passwordWrapper.querySelector(".red");
        if (errorEl) {
          errorEl.textContent = errMsg;
          return;
        }

        const error = document.createElement("div");
        error.textContent = errMsg;
        error.classList.add("red");
        passwordWrapper.appendChild(error);
        passwordWrapper.classList.add("error-account");
      }
    })();
  </script>
</template>
